<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- Realsense camera -->
    <include file="$(find baxter_moveit_controller)/launch/realsense.launch"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_rs_link" args="0.15 0.0 0.25   0.0 0.7 0.0 /reference/base /rs_link" />

    <!-- Aruco Marker detection -->
    <include file="$(find baxter_moveit_controller)/launch/aruco_detect.launch"/>
</launch>
